################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/server/OnlineShop.API/obj
/src/server/OnlineShop.Data/obj
/src/server/OnlineShop.Models/obj
/src/server/OnlineShop.MVC/bin/Debug/net6.0
/src/server/OnlineShop.MVC/obj
/src/server/OnlineShop.Services/obj
/src/server/.vs/OnlineShop/v17
/src/server/OnlineShop.API/bin/Debug/net6.0
/src/server/OnlineShop.Data/bin/Debug/net6.0
/src/server/OnlineShop.Models/bin/Debug/net6.0
/src/server/OnlineShop.Services/bin/Debug/net6.0
/src/server/.vs/OnlineShop/DesignTimeBuild
/src/server/OnlineShop.API/bin/Debug/net5.0
/src/server/OnlineShop.Models/bin/Debug/net5.0
/src/server/OnlineShop.MVC/bin/Debug/net5.0
/src/server/OnlineShop.Services/bin/Debug/net5.0
/src/server/OnlineShop.Data/bin/Debug/net5.0
/src/server/OnlineShop.sln.DotSettings.user
/src/server/.vs/OnlineShop/v16
